aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiohttp-retry==2.9.1
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.5.2
async-timeout==5.0.1
attrs==25.3.0
beautifulsoup4==4.13.5
blinker==1.8.2
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.1.8
colorama==0.4.6
Deprecated==1.2.18
distro==1.9.0
dnspython==2.6.1
email-validator==2.3.0
exceptiongroup==1.3.0
Flask==3.0.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
frozenlist==1.5.0
greenlet==3.1.1
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.9.1
MarkupSafe==2.1.5
multidict==6.1.0
numpy==1.24.4
openai==1.101.0
packaging==25.0
propcache==0.2.0
psutil==7.0.0
psycopg2-binary==2.9.9
pydantic==2.10.6
pydantic_core==2.27.2
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
redis==6.1.1
requests==2.32.4
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==2.0.43
stripe==12.5.1
svix==1.76.1
tqdm==4.67.1
twilio==9.8.0
types-Deprecated==1.2.15.20241117
types-python-dateutil==2.9.0.20241206
typing_extensions==4.13.2
urllib3==2.2.3
Werkzeug==3.0.6
wrapt==1.17.3
WTForms==3.1.2
yarl==1.15.2
zipp==3.20.2
